.header {
  padding: 20px;
  
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  &-menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    svg {
      color: #333;
    }
    
    &:hover {
      opacity: 0.7;
    }
  }
  
  &-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    
    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

}
